.vscode/

CMakeLists.txt.user
CMakeLists_modified.txt

**/rgbd_tum
**/rgbd_realsense_D435i

**/rgbd_inertial_realsense_D435i

**/mono_realsense_D435i
**/mono_euroc
**/mono_kitti
**/mono_tum
**/mono_tum_vi
**/mono_realsense_t265

**/stereo_euroc
**/stereo_kitti
**/stereo_tum_vi
**/stereo_realsense_t265
**/stereo_realsense_D435i

**/mono_inertial_euroc
**/mono_inertial_euroc_old
**/mono_inertial_tum_vi
**/mono_inertial_tum_vi_old
**/mono_inertial_realsense_t265
**/mono_inertial_realsense_t265_old
**/mono_inertial_realsense_D435i
**/mono_inertial_realsense_D435i_old
**/mono_inertial_realsense_D435i_2

**/stereo_inertial_euroc
**/stereo_inertial_tum_vi
**/stereo_inertial_realsense_t265
**/stereo_inertial_realsense_D435i


**/Examples_old/Monocular/*
**/Examples_old/Mono_Inertial/*
**/Examples_old/RGB-D/*
**/Examples_old/RGB-D-Inertial/*
**/Examples_old/Stereo/*
**/Examples_old/Stereo-Inertial/*

**/Examples/Calibration/recorder_realsense_D435i
**/Examples/Calibration/recorder_realsense_T265

Examples/Tests/viewer_dataset
Examples/Tests/sophus_test

Examples/ROS/ORB_SLAM3/CMakeLists.txt.user
Examples/ROS/ORB_SLAM3/build/

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
**/Thirdparty/DBoW2/build/
**/Thirdparty/DBoW2/lib/
**/Thirdparty/g2o/build/
**/Thirdparty/g2o/config.h
**/Thirdparty/g2o/lib/
**/Vocabulary/ORBvoc.txt
*/Vocabulary/ORBvoc.bin
**/build/

**/lib/

**/cmake_modules/
**/cmake-build-debug/

ExecMean.txt
SessionInfo.txt
Results_Euroc.txt
LBA_Stats.txt
LocalMapTimeStats.txt
TrackLocalMapStats.txt
TrackingTimeStats.txt
ExecMean_*.txt
SessionInfo_*.txt
Results_Euroc_*.txt
LBA_Stats_*.txt
LocalMapTimeStats_*.txt
TrackLocalMapStats_*.txt
TrackingTimeStats_*.txt
Table_Euroc
Table_TUMVI_rooms/
*.pyc
*.osa
*.pcd
.idea/
my_settings.txt

borrar/*

*/ExecMean.txt
**/timestamp2csv*

**.csv